.form {
  margin: 8rem auto;
  max-width: 900px;
  padding: 6rem;
}

label {
  display: block;
  text-align: left;
}

input {
  display: block;
  width: 600px;
}

* {
  text-align: center;
  margin: 20px auto;
  font-weight: normal;
}

.postUser {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.postUser label {
  text-align: left;
  display: block;
}

.postUser input {
  width: 100%;
  padding: 6px 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}
