
.form{
    margin: 8rem auto; 
    max-width: 900px;
    padding: 6rem;
   
    
}

label{
    display: block;
    text-align: left;
}

input{
    display: block;
    width: 600px
}

*{
    text-align: center;
    margin: 20px auto;
    font-weight: normal;
}

.btn{

    width: 70px;
    padding: 6px 10;
    margin: 15px auto;
    background-color: lightgrey;
    border-radius: 5px;
    color: white;
    

}