.home {
  margin: 0;
  border-collapse: collapse;
  width: 25%;
}

.header {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

button{
  float: right;
  margin: 0;
  padding: 0;
}

div.userID td {
  margin: 0;
}

div.userID tr {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}